<div fxLayout="row" fxLayoutAlign="space-around center">
<mat-card class="home-card">
  <mat-card-header>
    <div mat-card-avatar><img mat-card-image src="../assets/images/transition/chargement.png" alt="Photo du logo"></div>
    <mat-card-title>Uncolored World</mat-card-title>
    <mat-card-subtitle>Le jeu !</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../assets/images/transition/chargement.png" alt="Photo du jeu">
  <mat-card-content>
    <p>
      Uncolored World est un projet réalisé lors du semestre 3. Développement du front, du back et du jeu par nos soins.</p>
  </mat-card-content>
</mat-card>
</div>


